<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="server.js" verb="*" modules="iisnode" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="myapp">
					<match url="/*" />
					<action type="Rewrite" url="server.js" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<appSettings>
		<add key="MODE" value="Production" />
		<add key="JWT_KEY" value="9uMRElB:w{'o3t|.1ztnLWVm{Y[`|!" />
		<add key="JWT_DURATION" value="8h" />
	</appSettings>
</configuration>
